{
  "branches": [
    {
      "name": "main",
      "channel": "stable"
    },
    {
      "name": "next",
      "channel": "next",
      "prerelease": "next"
    }
  ],
  "ci": false,
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "semantic-release-mirror-version",
      {
        "fileGlob": [
          "/**/package.json"
        ]
      }
    ],
    [
      "@saithodev/semantic-release-gitea",
      {
        "assets": [
          {
            "path": "dist/**/*.zip",
            "label": "Application"
          }
        ]
      }
    ]
  ]
}
